.app-nav {
  margin: 30px auto 0;
  max-width: 500px;
  text-align: center;
}

.app-nav__item {
  display: inline-block;
  margin-left: 15px;
}
.app-nav__item:first-child {
  margin-left: 0;
}

.app-nav__item a {
  position: relative;
  display: inline-block;
  padding: 12px 35px;
  text-decoration: none;
  background: #e1e1e1;
  color: #000;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
}
.app-nav__item a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.app-nav__item a.active {
  color: #fff;
  background: #e74c3c;
}
.app-nav__item a.active:before {
  background: #000;
}

.app-nav__item a:hover:before {
  right: 0;
}