.list__heading {
  margin: 30px 0 15px;
  font-size: 16px;
  color: #444;
  font-weight: normal;
}
.movie__item {
  display: flex;
  margin-bottom: 10px;
}
.movie__name {
  flex: 1 1 auto;
  padding: 4px;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #444;
  font-weight: bold;
}
.movie__name:focus {
  border-bottom-color: #e74c3c;
}
.movie__remove, .movie__edit {
  padding: 2px 8px;
  border: none;
  background: #eb4d4b;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.movie__edit {
  display: none;
  margin-right: 5px;
  font-size: 16px;
  font-weight: normal;
  background: #e67e22;
}
.movie__name:focus + .movie__edit {
  display: block;
}
